.Especialidad {
  display: none;
  font-style: italic;
}
body {
  background: linear-gradient(to right, #00b4db, #0083b0); 
  color: rgb(8, 8, 8);
}
.card-title {
  font-size: 1.5rem; /* Aumenta el tamaño */
  font-weight: bold; /* Negrita */
  color: #343a40; /* Gris oscuro o cambia según tu fondo */
}


